<div class="container">
  <h1>Template inicial do bootstrap</h1>
  <p>Use esse documento para iniciar um novo projeto.<br> Tudo o que você precisa é essa mensagem e um pouco de HTML.</p>
</div> <!-- /container -->


