<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Projeto</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="atendimentos">Página Inicial</a></li>
          <li><a href="#about">Locais de Atendimento</a></li>
          <li><a href="#contact">Tipos de Atendimento</a></li>
          <li class="dropdown">
        <form class="navbar-form pull-right">
          <input class="span2" type="text" placeholder="Email">
          <input class="span2" type="password" placeholder="Password">
          <button type="submit" class="btn">Entrar</button>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
