<div class="list-group" role="navigation">
  <div class="container-nav-list" align="center">
    <li class="nav-header"  data-toggle="collapse" data-target="#test">
      <h8>Navegação</h8><span class="service_button fa fa-chevron-down fa-2x"></span>
      <ul class="nav list-group collapse" id="test">
        <li><a href="<%=atendimentos_path%>"> <h7>Atendimentos</h7></a></li>
        <li><a href="<%=places_path%>">Locais de Atendimento</a></li>
        <li><a href="<%=types_path%>">Tipos de Atendimento</a></li>


  </div><!--/.nav-collapse -->
</div>

<script type="text/javascript">
    $('#test').on('shown.bs.collapse'), function() {
        console.log("oi")
        $(".service_button").addClass('fa fa-chevron-up"').removeClass('fa fa-chevron-down"');
    }

</script>


