<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @local_atendimento.nome %>
</p>


<%= link_to 'Edit', edit_local_atendimento_path(@local_atendimento) %> |
<%= link_to 'Back', local_atendimentos_path %>
