
<%= render "shared/navbar" %>
<div class="container">
<div class="row">
<div class="page-header"> 
<h1 align="center">Sistema de Registro de Atendimento </h1>
</div>
</div>
</div>
<div align = "center" >


  <%= render "devise/sessions/form_sign_in" %>
  <%= render "devise/shared/links" %>

  <footer>
    <p>&copy; SRA - Solicitação de Registros de Atendimento - Universidade de Brasília</p>
  </footer>
</div><!--/.fluid-container-->