.navbar .brand {
	margin-left: -30px;
	padding: 10px 0px 10px;
}

#registros {
	max-height: 420px;
	overflow: auto;

}

.navbar-inner {
  background: #98C000; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhYjkyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNzk4MTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #98C000 0%, #063 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98C000), color-stop(100%,#063)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #98C000 0%,#063 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #98C000 0%,#063 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #98C000 0%,#063 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #98C000 0%,#063 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98C000', endColorstr='#063',GradientType=0 ); /* IE6-8 */
  }

    .navbar-inner, .navbar .btn-navbar {
    background: #98C000; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhYjkyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNzk4MTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #98C000 0%, #063 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98C000), color-stop(100%,#063)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #98C000 0%,#063 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #98C000 0%,#063 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #98C000 0%,#063 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #98C000 0%,#063 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98C000', endColorstr='#063',GradientType=0 ); /* IE6-8 */
    }

  .navbar .divider-vertical {
    background-color: #063;
    border-right: 1px solid #98C000;
    }

  .navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #396;
    }

  .navbar .nav > li > a {
    color: #f9ed9d;
    }

.navbar-fixed-top .brand {
  color: #634c08;color: #f4dc87;
  }

  .navbar .nav > li > a {color:white;}
  .navbar .nav > li > a:hover {color:#BAD266;}

  .navbar .nav .active > a, .navbar .nav .active > a:hover {color:white;}

  .navbar-inverse .navbar-inner {
    background-image: linear-gradient(to bottom, #174, #063);
  }

  .list {
      margin-bottom: 10px;
      width: 280px;
      height: 250px;
      overflow: auto;
  }

 .form {
     text-align: center;
 }
