<%= render "shared/navbar" %>
<div align = "center" >
  <%= render "devise/sessions/sign_in", :remote => true %>
  <%= render "devise/shared/links" %>
  <footer>
    <p>&copy; SRA - Solicitação de Registros de Atendimento - Universidade de Brasília</p>
  </footer>
</div><!--/.fluid-container-->