<h1>Lista de Locais de Atendimento</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= place.name %></td>
    <td><%= link_to raw("<i class=\"icon-white icon-pencil\"> Editar </i>"), 
          edit_place_path(place), 
          class: "btn btn-small btn-primary",
          method: :get %></td>
    <td><%= link_to raw("<i class=\"icon-white icon-trash\"> Deletar </i>"), 
          place, 
          class: "btn btn-small btn-danger",
          method: :delete, data: { confirm: 'Deseja confirmar?'} %></td></td>
  </tr>
  </tr>
<% end %>
</table>

<br />

<%=link_to raw("<i class=\"icon-white icon-plus\"> Criar Local de Atendimento </i>"), 
          new_place_path, 
          class: "btn btn-success  btn-small"%>